{% extends 'admin/change_form.html' %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
    {% if not adminform.form.instance.pk %}
    input[name=_addanother], input[name=_save] {
        display: none;
    }
    {% endif %}
</style>
{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    {% if not adminform.form.instance.pk %}
    $('input[name=_continue]').addClass('default');
    {% endif %}
})(django.jQuery)
</script>
{% endblock %}
