{% load i18n %}
{% load url from future %}

{% if '_popup' not in request.GET.keys %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin_hack/style.css" />
<script type="text/javascript" src="{{ STATIC_URL }}admin_hack/jquery.json.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin_hack/lib.js"></script>
<script type="text/javascript">
var AdminHack = {
    messages: {
        save: "{% trans "Save your changes" %}",
        saving: "{% trans "Saving your changes" %}",
        remove_fields: "{% trans "Remove fields" %}",
        remove: "{% trans 'Remove' %}",
        unremove_fields: "{% trans 'Un-remove fields' %}",
        unremove_help: "{% trans 'Keep this field visible in current form configuration' %}",
        unremove: "{% trans 'Keep' %}",
        hide_field: "{% trans 'Hide this field' %}",
        move_fields: "{% trans "Move fields" %}",
        full_protected: "{% trans "You may not remove the 'full' form. It serves as reference." %}",
        confirm_form_delete: "{% trans "Are you sure you want to this form model" %}",
        no_going_back: "{% trans "There is no going back once you push the confirmation button" %}",
        new_form_name: "{% trans "How should we name the new form ?" %}",
        new_field_name: "{% trans "Please set the name of the field you want to add" %}",
    },
    urls: {
        admin_hack_forms_update: "{% url 'admin_hack_forms_update' %}",
    },
    forms: {{ forms_dicts }},
    regexps: {
        customvalue: /customvalue_set-(\d+)-([a-z]+)_value/,
        customvalue_kind: /customvalue_set-(\d+)-kind/,
        customvalue_name: /customvalue_set-(\d+)-name/,
        strip_id: /^id_/,
        is_autocomplete: /_text$/,
        fieldset: /[^(]+/,
    },
    contenttype_pk: {{ content_type_id }},
    forms_pks: {{ forms_pks }},
}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}admin_hack/change_form.js"></script>

<style type="text/css">
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:10001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
 
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:10002;
    overflow: auto;
}

fieldset , fieldset h2, .stacked, .inline-group { display: none; }
.active, .always_active, .active.stacked fieldset { display: block !important; }
.admin_hack_toggle { display: none; }
</style>

<div style="display:none" id="admin_hack_create_field_template">
    {% trans 'Field kind' %}: {{ kind_select }}
    {% trans 'Field name' %}: <input type="text" name="admin_hack_create_field_name" />
    <span class="btn success" id="admin_hack_create_field_continue">{% trans 'Continue' %}</span>
    <span class="btn danger" id="admin_hack_create_field_cancel">{% trans 'Cancel' %}</span>
</div>

<div id="admin_hack">
	<a href="javascript:;" id="toggle_links" class="toggle_next">toggle setting</a>
	<div class="admin_hack_toggle">
		<ul>
			<li class="hide_on_full">
				<span class="toggle_remove_btn admin_hack_mode" title="{% trans 'Remove fields from the selected form model' %}" id="admin_hack_mode_hide">
        			{% trans 'Remove fields' %}
    			</span>
			</li>
			<li class="hide_on_full">
				<span class="toggle_add_btn admin_hack_mode" title="{% trans 'Un-remove fields to the selected form model' %}" id="admin_hack_mode_show">
        			{% trans 'Un-remove fields' %}
    			</span>
			</li>
			<li class="hide_on_full">
				<span class="toggle_move_btn admin_hack_mode" title="{% trans 'Reorder fields in the selected form model' %}" id="admin_hack_mode_move">
        			{% trans 'Move fields' %}
    			</span>
			</li>
            <li class="hide_on_full">
                <span class="toggle_create_btn admin_hack_mode" title="{% trans 'Create a new field in the current tab' %}" id="admin_hack_create_field">{% trans 'Create field' %}</span>
            </li>
			<li>
				<span title="{% trans 'Create a new form model' %}" id="admin_hack_create">
        			{% trans 'New form' %}
    			</span>
			</li>
			<li class="hide_on_full">
				<span title="{% trans 'Delete the currently selected form model' %}" id="admin_hack_delete">
        			{% trans 'Delete form' %}
    			</span>
			</li>
		</ul>
		<ul class="help_links_toggle">
			<li><a href="#">Settings</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</div>  
</div>
{% endif %}
