{% load i18n %}

<fieldset class="module aligned ">
    <div class="form-row _field_delimiter">
                <div>
                    <label for="id__field_delimiter" class="required">{% trans 'Field delimiter' %}:</label>
                    <input name="_field_delimiter" value="{{ field_delimiter }}" class="vTextField" maxlength="100" type="text" id="id__field_delimiter">
                </div>
        </div>
</fieldset>

<table>
    <tr>
        {% for action in actions %}
        <th>
            <input type="text" value="{{ action }}" name="_parser_action" />
        </th>
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for col in row %}
        <td>{{ col|truncatewords:5 }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
